@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Titan+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-background-body: #a882dd;
  --color-h1: #f6f5ae;
  --color-font: #2f2f2f;
  --color-border: #a882dd;
  --color-background-container: #f1fffa;
  --color-drop-shadow: #2f2f2f;
  --color-btn: #f6f5ae;
  --color-btn-font: #2f2f2f;
  --color-btn-hover: #2f2f2f;
  --color-btn-font-hover: #f6f5ae;

  --font-family: "Titan One", sans-serif;
  --font-family-secondary: "Montserrat", sans-serif;
}

/* BODY */
body {
  height: 100vh;
  width: 100vw;
  font-family: var(--font-family);
  background-color: var(--color-background-body);
}

/* HEADER */
.header__container {
  font-size: 37px;
  padding-bottom: 30px;
  margin-top: 50px;
  color: var(--color-h1);
}

/* CONTAINER MAIN */
.container__game {
  justify-content: center;
  width: 600px;
  padding: 25px;
  background-color: var(--color-background-container);
  color: var(--color-font);
}
select {
  background-color: var(--color-background-container);
  font-family: var(--font-family);
  text-align: center;
  cursor: pointer;
  color: var(--color-font);
}

/* INPUT */
input[type="text"] {
  width: 100%;
  font-family: var(--font-family);
  background-color: var(--color-background-container);
}

/* BOUTON */
button {
  padding: 10px 20px;
  background-color: var(--color-btn);
  color: var(--color-btn-font);
  cursor: pointer;
  font-size: 16px;
  font-family: var(--font-family-);
}

button:hover {
  background-color: var(--color-btn-hover);
  color: var(--color-btn-font-hover);
}

/* PADDING */
.padB__10 {
  padding-bottom: 10px;
}
.padB__5 {
  padding-bottom: 5px;
}
.padT__15 {
  padding-top: 15px;
}
.pad__8 {
  padding: 8px;
}
/* MARGIN */
.margTB__15 {
  margin: 15px 0px;
}
/* BORDER */
.border__style {
  border: 2px solid var(--color-border);
}
.border__radius {
  border-radius: 15px;
}

/* FONT */
.font__size__h2 {
  font-size: 25px;
}

/* DROP SHADOX */
.drop__shadow {
  filter: drop-shadow(3px 3px 3px var(--color-drop-shadow));
}

/* LAYOUT */
.d__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
